<div style="margin-left: 1%">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "patients/shared/error_messages", resource: resource %>

    <% invalid = @patient.errors.include?(:phone) %>
    <div class="form-group w-25 p-3">
      <%= f.label :phone, t('registration.phone') %>
      <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", placeholder: "+380*********", class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @patient.errors.full_messages_for(:phone).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :name, t('registration.name') %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :surname, t('registration.surname') %><br />
      <%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :age, t('registration.age') %><br />
      <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :gender, t('registration.gender') %><br />
      <%= radio_button_tag(:gender, "man") %>
        <%= label_tag(:gender_man, t('registration.man')) %>
      <%= radio_button_tag(:gender, "women") %>
        <%= label_tag(:gender_women, t('registration.women')) %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :residence, t('registration.residence') %><br />
      <%= f.text_field :residence, autofocus: true, autocomplete: "residence" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :password, t('registration.password') %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.label :password_confirmation, t('registration.password_confirm') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit t('registration.sign_up') %>
    </div>
  <% end %>

  <%= render "patients/shared/links" %>
</div>