<div style="margin-left: 1%">
  <h1>Patient info:</h1>
  <ul>
    <li>Name: <%= current_patient.name %></li>
    <li>Surname: <%= current_patient.surname %></li>
    <li>Age: <%= current_patient.age %></li>
    <li>Phone: <%= current_patient.phone %></li>
    <li>Gender: <%= current_patient.gender %></li>
    <li>Residence: <%= current_patient.residence %></li>
  </ul>
  <h2>Change password:</h2>
  <%= link_to "Change your password", edit_patient_registration_path %>
  <h2>Change data patient:</h2>
  <%= form_with url: "/update/patient/#{current_patient.id}", method: :post do |f| %>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", placeholder: "+380*********", value: current_patient.phone %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", value: current_patient.name %>
    </div>

    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname, autofocus: true, autocomplete: "surname", value: current_patient.surname %>
    </div>

    <div class="field">
      <%= f.label :age %><br />
      <%= f.number_field :age, autofocus: true, autocomplete: "age", value: current_patient.age %>
    </div>

    <div class="field">
      <%= f.label :gender %><br />
      <%= radio_button_tag(:gender, "man") %>
        <%= label_tag(:gender_man, "I'm a man") %>
      <%= radio_button_tag(:gender, "women") %>
        <%= label_tag(:gender_women, "I'm a women") %>
    </div>

    <div class="field">
      <%= f.label :residence %><br />
      <%= f.text_field :residence, autofocus: true, autocomplete: "residence", value: current_patient.residence %>
    </div>

    <div style="margin-top: .5%">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
</div>