<div style="margin-left: 1%">
  <p style="color: green"><%= notice %></p>
  <h3><%= t('doctor.index.search_by_surname') %></h3>
  <%= form_with url: "/doctors/", method: :get do |f| %>
    <%= f.label :search_surname, style: "display: block" %>
    <%= f.text_field :search_surname %>
    <br>
    <%= f.submit t('doctor.index.search_by_surname') %>
  <% end %>
  <h3><%= t('doctor.index.search_by_category') %></h3>
  <%= form_with url: "/doctors/", method: :get do |f| %>
    <%= f.label :search_category, style: "display: block" %>
    <%= f.select(:search_category, Category.all.collect { |category| [category.title, category.id] }) %>
    <br>
    <%= f.submit t('doctor.index.search_by_category') %>
  <% end %>
  <h1><%= t('doctor.index.doctors') %></h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t('doctor.index.photo') %></th>
        <th scope="col"><%= t('doctor.index.name') %></th>
        <th scope="col"><%= t('doctor.index.surname') %></th>
        <th scope="col"><%= t('doctor.index.category') %></th>
        <th scope="col"><%= t('doctor.index.phone') %></th>
      </tr>
      </thead>
      <tbody>

      <% if !@doctors.nil? %>
        <% @doctors.each do |doctor| %>
          <tr>
            <td>#</td>
            <td><%= doctor.name %></td>
            <td><%= doctor.surname %></td>
            <% unless doctor.category.nil? %>
              <td><%= doctor.category.title %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= doctor.phone %></td>
          </tr>
        <% end %>
      <% else %>
        <p><%= t('doctor.index.not_found') %></p>
      <% end %>
      </tbody>
  </table>
  <%= paginate @doctors %>
</div>