<div id="<%= dom_id appointment %>">
  <p>
    <strong>Doctor:</strong>
    <%= "#{appointment.doctor.surname} #{appointment.doctor.name} #{appointment.doctor.category.title}" %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= "#{appointment.patient.surname} #{appointment.patient.name}" %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Recommendation:</strong>
    <%= appointment.recommendation %>
  </p>

</div>
