<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% doctors = Doctor.all.map { |doctor| ["#{doctor.surname} #{doctor.name} #{doctor.category.title}", doctor.id] } %>
    <%= form.label :doctor_id, style: "display: block" %>
    <%= form.select :doctor_id, doctors %>
  </div>

  <div>
     <%= form.hidden_field :patient_id, :value => current_patient.id %>
  </div>

  <div>
     <%= form.hidden_field :token_update, :value => current_patient.token_update %>
  </div>

  <div>
     <%= form.hidden_field :status, :value => "wait" %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_select :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<% flash.each do |type, msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>
