<div style="margin-left: 1%">
  <h1>Add recommendation appointment</h1>

  <%= form_with url: "/update/appointments", method: :put  do |form| %>
    <% invalid = @appointment.errors.include?(:recommendation) %>
    <div class="form-group w-25 p-3">
      <%= form.label :recommendation %>
      <%= form.text_area :recommendation, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @appointment.errors.full_messages_for(:recommendation).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.hidden_field :id, :value => @appointment.id %>
    </div>

    <div>
      <%= form.submit "Add recomendation" %>
    </div>
  <% end %>

  <br>

  <div>
    <%= link_to "Show this appointment", @appointment %> |
    <%= link_to "Back to appointments", appointments_path %>
  </div>
</div>