<div style="margin-left: 1%">
  <p style="color: green"><%= notice %></p>
  <h3><%= t('appointment.index.search_by_date') %></h3>
  <%= form_with url: "/appointments/", method: :get do |f| %>
    <%= f.label :search_date, style: "display: block" %>
    <%= f.date_select :search_date %>
    <%= f.hidden_field :date %>
    <br>
    <%= submit_tag t('appointment.index.search_by_date'), id: 'search_by_date' %>
  <% end %>
  <h3><%= t('appointment.index.search_by_status') %></h3>
  <%= form_with url: "/appointments/", method: :get do |f| %>
    <%= f.label :search_status, style: "display: block" %>
    <%= radio_button_tag(:search_status, "wait") %>
      <%= label_tag(:status_wait, "Wait status") %>
    <%= radio_button_tag(:search_status, "done") %>
      <%= label_tag(:status_done, "Done status") %>
    <br>
    <%= submit_tag t('appointment.index.search_by_status') %>
  <% end %>
  <% if can? :create, Appointment %>
    <%= link_to t('appointment.index.new_appointment'), new_appointment_path %>
  <% end %>
  <% if patient_signed_in? %>
    <h1><%= t('appointment.index.patient_appointments') %></h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t('appointment.index.photo') %></th>
          <th scope="col"><%= t('appointment.index.doctor') %></th>
          <th scope="col"><%= t('appointment.index.status') %></th>
          <th scope="col"><%= t('appointment.index.date') %></th>
          <th scope="col"><%= t('appointment.index.deteils') %></th>
        </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
              <tr>
                <td>#</td>
                <td>
                  <%= "#{appointment.doctor.surname} #{appointment.doctor.name} - #{appointment.doctor.category.title}" %>
                </td>
                <td><%= appointment.status %></td>
                <td><%= appointment.date %></td>
                <td><%= link_to t('appointment.index.show_appointment'), appointment %></td>
              </tr>
          <% end %>
        </tbody>
    </table>
  <% elsif doctor_signed_in? %>
    <h1><%= t('appointment.index.doctor_appointments') %></h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t('appointment.index.patient') %></th>
          <th scope="col"><%= t('appointment.index.status') %></th>
          <th scope="col"><%= t('appointment.index.date') %></th>
          <th scope="col"><%= t('appointment.index.deteils') %></th>
        </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
            <% if appointment.doctor_id.eql? current_doctor.id %>
              <tr>
                <td>
                  <%= "#{appointment.patient.surname} #{appointment.patient.name} #{appointment.patient.phone}" %>
                </td>
                <td><%= appointment.status %></td>
                <td><%= appointment.date %></td>
                <td><%= link_to t('appointment.index.show_appointment'), appointment %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  <% else %>
    <h1><%= t('appointment.index.not_authorized') %></h1>
  <% end %>
  <%= paginate @appointments %>
</div>
<%= javascript_include_tag( 'appointment' ) %>