<div style="margin-top: -3%; margin-left: 1%">
  <p style="color: green"><%= notice %></p>

  <% if patient_signed_in? %>
    <h1>Patient appointments:</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Doctor</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Deteils</th>
        </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
            <% if appointment.patient_id.eql? current_patient.id %>
              <tr>
                <td>#</td>
                <td>
                  <%= "#{appointment.doctor.surname} #{appointment.doctor.name} #{appointment.doctor.category.title}" %>
                </td>
                <td><%= appointment.status %></td>
                <td><%= appointment.date %></td>
                <td><%= link_to "Show this appointment", appointment %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
        <%= link_to "New appointment", new_appointment_path %>
  <% elsif doctor_signed_in? %>
    <h1>Doctor appointments:</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Patient</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Deteils</th>
        </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>
            <% if appointment.doctor_id.eql? current_doctor.id %>
              <tr>
                <td>
                  <%= "#{appointment.patient.surname} #{appointment.patient.name} #{appointment.doctor.phone}" %>
                </td>
                <td><%= appointment.status %></td>
                <td><%= appointment.date %></td>
                <td><%= link_to "Show this appointment", appointment %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  <% else %>
    <h1>You are not authorized!!!</h1>
  <% end %>
</div>